@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

   

                <div class="display-4">
                    <center><h1>WELLCOME TO DRINKO</h1> </center>
                </div>
            


        <div class="row">

            <div class="col-md-6">
                <center>
                    <div class="col-sm-6  content_top_data">
                        <div class="box_top">
                            <h4>NON ALCOHOL</h4>

                        </div>
                        <div class="content_top_img">

                            <img src="~/Image/carousel1.jpg" alt="" />
                        </div>
                    </div>
                </center>
            </div>

            <div class="col-md-6">
                <center>
                    <div class="col-sm-6  content_top_data">
                        <div class="box_top">
                            <h4>ALCOHOL</h4>

                        </div>
                        <div class="content_top_img">
                            <img src="~/Image/carousel3.jpg" />
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <center>
                <div class="col-md-5">

                    <h5>WHY WE ARE</h5>

                    <h6 style="font-family:'Javanese Text';">
                        we serve the best quality and world renound drinks. you can have all good brands from us.
                    </h6>
                </div>
            </center>
       
            </div>

