@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy
</p>
<p>
    1. ABOUT DRINKOAND SITE
</p>
<p>
    DRINKO AB, org.no 5555-4444, Box 385, okstigen 8, 15248  is responsible for the processing of your personal data.
    DRINKO protects your privacy and strives to always protect your personal information in the best possible way. It is DRINKO's goal to comply with all applicable laws and regulations for personal data protection at all times. This privacy policy explains what kind of information DRINKO collects as well as why and how DRINKO processes your personal information. The Privacy Policy describes how we collect, use, store, disclose and protect your personal data and it explains your rights in relation to DRINKO regarding the processing of your personal data. When you use our services, DRINKO collects your personal information and processes it in according with this privacy policy. Therefore, it is important that you read and understand the privacy policy before using the Company's services as defined below. We cannot administer your purchase or your club membership unless we process your personal information.
    When we mention our Partners in this Privacy Policy, we mean companies that have been approved by DRINKO and that have entered into an agreement with us to sell and provide their products and services via the Website. When we mention the Website, we mean drinko.se and associated pages.
    The Website may contain links to other websites outside of DRINKO's control, and such sites may link to the Website. This Privacy Policy applies only to the Website. When linking to another site, you should read the privacy policy that applies to that site. Please note that DRINKO accepts no responsibility for the processing of your personal data by other websites.
    This privacy policy describes how we process your personal information. For the collection, handling and storage of information obtained via cookies, see the section "Cookies" below and the DRINKO cookie policy.

</p>
<p>
    2. PROCESSING OF PERSONAL DATA
</p>
<p>
    2.1 What personal information do we collect and from where?
</p>

<p>
    2.1.1 Customers, subscribers, customer club members, DRINKO and contest participants:
</p>
<p>
    On the Website you can trade goods and services directly from DRINKO and / or from DRINKO's Partners who have chosen to sell their goods and services via the Website. When you purchase something on the Website, you enter into an agreement with DRINKO. In order for us to manage your purchases and fulfil our obligations to you as a customer, it is necessary for us to process the personal data that you provide or have provided to us.
    The personal data that DRINKO collects and processes may, depending on the context, include:
</p>
<p>
    •	Name and contact information, including address, mobile number, and e-mail address.
</p>
<p>
    •	Delivery and billing information, payment and credit card numbers, and other information you provide in connection with the purchase or delivery of a product or service.
</p>
<p>
    •	Username and password for our services.

</p>
<p>
    •	Purchase, payment, and order history.
</p>
<p>
    •	Other information relevant to customer surveys, advertisements or offers.

</p>
<p>
    •	Other user-generated information that you actively choose to share via our website or through other contact with us; and or
</p>
<p>
    •	IP address.
</p>
<p>
    In addition to the information you provide to us in connection with purchases or when you contact us via e-mail, your personal data may also be collected Through cookies (see more under "Cookies" below).
</p>
<p>
    2.2 Why do we process your personal data?
</p>
<p>
    2.2.1 Customers
</p>
<p>
    DRINKO processes the personal data of customers within the framework for the purposes and based on the legal grounds set out below.

</p>
<p>
    •	Execution of Purchase Agreements : We process your personal data to complete your purchase of goods and services, to deliver them, to make payment and to give you access to the Website and the services provided by DRINKO, e.g. our customer service.

</p>
<p>
    •	Fulfilling legal obligation: We process your personal data to fulfil legal obligations due to legal requirements, judgment, or government decisions, such as requirements in the Accounting Act and the Product Liability Act. This means, for example, that we save invoice documents in accordance with current accounting rules and purchase history so that you can claim a purchase.

</p>
<p>
    •	Eligible interest:

</p>
<p>
    •	We process your personal data in order to provide, implement, develop and improve DRINKO's services for our customers. For this purpose, we analyse the personal data that we collect from our customers (e.g. age and purchase history) and sort customers into different segments in order to perform analysis at an aggregated level and for statistical purposes. We do not carry out any analysis of your personal data at the individual level.

</p>
<p>
    •	We process your purchase history and email address to send you relevant offers of similar products to you. You can always object to this treatment, see more about this in the section Your rights below.
</p>

<p>
    2.2.2 Subscribers
</p>
<p>
    DRINKO processes your personal information in order to send DRINKO’s newsletter in the manner set out below.
    Compliance Agreement: We process your personal information to send newsletters with personalized offers, discount codes and information about relevant campaigns from DRINKO to you. For this purpose, we analyse your personal data on an aggregated level.
</p>
<p>
    2.2.3 Members of DRINKO's customer club
</p>
<p>
    The purpose of being a member of DRINKO's customer club is to get your personal offers, selected general membership offers and a customized shopping experience. This means that we will ensure that you receive personalized news, invitations to campaigns and events and product recommendations and for this purpose we process your personal information. Usually we communicate with our members via e-mail, SMS and on the Website, but we can also communicate with you as a member by letter. Therefore, it is important that you as a member keep your personal information listed on My pages up to date. You can log in to My pages at any time and update your contact information.
    DRINKO processes your personal data within the framework of the customer club for the purposes and with the support of the legal grounds set out below.
</p>

<p>
    •	Execution of membership agreements:
</p>
<p>
    •	We process your personal information to set up your membership account on My pages and create your user information, to ensure that you are a private individual and over 18 years of age, to provide you with the opportunity to view your order and purchase history as well as to manage your settings and choices. We also need to process your personal data so that you can save products in the shopping basket and on your wish list.
</p>
<p>

    •	We process your social security number to update your address information, to ensure that any value documents are sent to the right person and to maintain good customer and registry care.
</p>
<p>
    •	We process your personal information to send newsletters with personalized offers, discount codes and information about relevant campaigns from DRINKO to you. For this purpose, we analyse your personal data on an aggregated level.
</p>
<p>
    •	Personal Products:  DRINKO offers "Personal Products" offers in their e-mail messages that correspond to what appears on the Website under "You may also like" and "Recommended for you". For this purpose, we analyse your purchase and click history, what you put in your shopping cart, age, place of residence and other choices you have made on the Website in order for DRINKO offer to you relevant products. The analysis is mainly done at an aggregated level but can also be done at the individual level to be able to submit even better and personalized offers made just for you.
</p>
<p>
    •	Eligible interest:  We have an interest in being able to evaluate, develop and improve our services and the Website to offer our members the best possible experience and to offer service on the Website. We will therefore compile the personal data of our members at an aggregated level in order to develop the customer club and the Website.
</p>
<p>
    2.2.4 Members of DRINKO
</p>
<p>
    DRINKO processes your personal data within the framework of your membership of DRINKO for the purpose and legal basis set forth below.
    Completion of Agreement: We process your personal information to complete your purchase of a DRINKO membership, which means that we process your purchase history to calculate your right to a refund, send a gift card to you and ensure that you receive free shipping on your orders.

</p>
<p>
    2.2.5 Competitors
</p>
<p>
    DRINKO processes your personal information if you participate in a competition organized by DRINKO for the purpose and legal basis set forth below.

</p>
<p>
    •	Consent: We process your personal information in order to administer the contest, which means to select winners and convey the winnings. We will also check the winner's age.

</p>
<p>
    •	Eligible interest: If you contact DRINKO's customer service with questions or comments regarding a competition, DRINKO will process your personal information in order to be able to maintain contact with you.
</p>
<p>
    2.3 Storing personal data
</p>
<p>
    2.3.1 Customers, subscribers, customer club members and DRINKO
</p>
<p>
    DRINKO takes all reasonable steps to ensure that your personal information is processed and stored securely. Your personal data is never stored for longer than is permitted by applicable law or to achieve the purposes stated above. Your personal data will be processed by us during the following time periods, after which the personal data will be deleted.
</p>
<p>

    •	Customer : If you purchased an item on our Website, your personal information (name, address, telephone number, e-mail and payment and delivery information) will be stored in connection with ordering goods and services for two years or as long as required for that DRINKO will be able to fulfil the agreement with you. This includes treatment to fulfil delivery or service obligations. This does not apply if we need to save your personal data anymore due to one of the points below.

</p>
<p>
    •	Subscriber: If you signed up as a subscriber to DRINKO's newsletter, your personal data will be saved until you unsubscribe from receiving newsletters.

</p>
<p>
    •	Club member:  If you registered as a member of DRINKO's customer club, your personal data will be saved until you unregister but no later than three years after the last activity if DRINKO does not need the information for another reason as below.

</p>
<p>
    •	DRINKO  Member: If you purchased a membership in DRINKO, we will save your personal information provided in connection with the purchase of the subscription and the personal information we collect during your membership until the membership ends.
</p>
<p>
    •	Contest Participant:  If you have consented to DRINKO processing your personal information in connection with the contest participation, we will save your personal data as long as it is necessary to administer the competition. When we no longer need the personal information to administer the competition, they will be deleted. You may withdraw your consent to participate in the Contest at any time by contacting DRINKO's Customer Service.
</p>
<p>
    •	Communication: If you have contact with DRINKO, for example via e-mail with customer service, your personal data will be stored for as long as is necessary to complete the contact.

</p>
<p>
    •	Legal Obligation: DRINKO saves your personal information (contact information, customer club information, purchase history, payment information and your customer service contact) as long as we are required by applicable law or governmental decisions.
</p>
<p>
    •	Direct marketing: We may process your personal data for direct marketing for up to two years after the end of the customer relationship, provided that you do not refuse such direct marketing before.
    When DRINKO no longer has reason to process your personal data or if you revoke your consent, your personal data will be deleted.
</p>
<p>
    2.4 Transmission of personal data
</p>
<p>
    2.4.1 Customers, subscribers, customer club members and DRINKO
</p>
<p>
    Information about our customers is an important part of DRINKO’s business and we do not sell the information to anyone else. We will only pass on the information as described below. DRINKO always takes the utmost care when transferring your personal data.
</p>
<p>
    •	Affiliates : Our Affiliates will have access to your personal data to the extent necessary for them to fulfil their obligations under the purchase towards you or to fulfil their obligations if you have chosen to use their services through our Website. It is clearly stated when a Partner is involved in your purchase.
</p>
<p>
    •	Legal obligations:  We will share user accounts and personal data when we believe it is necessary for DRINKO to act in accordance with applicable law, to enforce our Terms of Use or to protect rights, property, DRINKO, our users or others. This includes the exchange of information with other companies and organizations to combat fraud and credit risk reduction. This does not in any circumstances mean that DRINKO sells, leases or shares personal data from customers for commercial purposes in violation of this Privacy Policy.
</p>
<p>
    •	Business Transactions: If all or part of DRINKO’s business is sold or integrated with another business, your personal data may be disclosed to our advisors, any buyer and their advisers and passed on to the business's new owners.
</p>
<p>
    3. YOUR RIGHTS:You have the right to request, free of charge, information about what personal information we have registered about you and how it is used. If you want such information you can contact us according to the contact details below. In order to protect your privacy and personal information, we may require you to identify yourself in connection with our assistance.
    DRINKO wants to ensure that your personal information is accurate and up to date. Therefore, you can change your personal information at My Pages at any time if you are a member of our customer club or have registered account, otherwise you are welcome to contact our customer service.
    You may request at any time that we delete personal information that concerns you or that we delete your user account on the Site. DRINKO will then delete the relevant personal data if it is no longer necessary for the purposes for which it has been collected or otherwise processed. DRINKO will also do this when you withdraw your consent to the treatment. In addition, you have the right to request that DRINKO transfer your personal data to another personal data manager in electronic format.
    Furthermore, you have the right to require that DRINKO limit its processing of personal data in certain cases and you have the right to object to certain processing of your personal data. You always have the right to object to us processing your personal data to send offers based on your purchase history (direct marketing) and if you do, we will cease processing your personal data. If you object to your personal data being used or disclosed for other purposes as set out in this privacy policy, it may mean that we cannot continue to provide you with access to our websites or provide services and customer services offered to our users and / or members and which are permitted according to this privacy policy.
    You may file a complaint with the Data Inspectorate if you believe that DRINKO’s processing of your personal data is not in accordance with applicable law.
</p>
<p>

    4. Security:We are concerned that your personal data will be processed securely. To prevent unauthorized use or exposure of your personal data, we use appropriate and reasonable physical, technical and organizational security measures in relation to the amount and sensitivity of personal data, to ensure an appropriate level of security.
    DRINKO also uses, among other things, of Secure Socket Layer (SSL) which is a protocol for securely transmitting data over the Internet (or other networks). You as a customer need to make sure that SSL is not turned off in your browser settings. One-way encryption is also used to prevent unauthorized access when processing your debit or credit card number.
    DRINKO may use personal data assistants established outside the EU / EEA area. In these cases, DRINKO is responsible for ensuring that the Personal Data Entry in question can guarantee an adequate level of protection in relation to the personal data being processed, either by connecting the Personal Data Entry to the so-called Privacy Shield agreement or maintaining an adequate level of protection in other ways. The European Commission has decided on an adequate level of protection for recipients of personal data in the United States covered by the Privacy Shield. Additional information can be obtained through our customer service or our data protection representative on the contact details below.
</p>

<p>
    4. COOKIES:In order to provide our services with the highest possible quality, the Website uses cookies and similar technology. Cookies are small text files that are stored on the visitor's computer and that can be used to track what the visitor does on the Website. If you wish to withdraw your consent to the use of cookies, read more about how to do in our cookie policy.

</p>

<p>
    4.1 Cookies Policy:
    What are cookies and other similar storage techniques?
    Cookies and other similar storage techniques are used on DRINKO AB's, 555 -444, (hereinafter DRINKO) website.
    Cookies are small text files stored on the visitor's computer. Other storage technologies (for example, pixels) are used for similar purposes and enable the recognition of cookies and other types of device identifiers. Cookies enable, among other things, for DRINKO to follow what visitors do on our site, make our website work more efficiently, personalize the website content and relevant marketing.
    There are two main types of Cookies, on the one hand, permanent cookies that remain on your computer for a specified time before being deleted, and on the other, session cookies that are temporarily stored in the computer's memory while you are on a web page. Session cookies disappear when you close your browser.
    Cookies can be sent to you either from the website you visit (so-called first-party cookie) or from another organization that provides services to the website you visit, e.g. an analytics and statistics company, retailers, social media, marketing companies etc. (so-called third-party cookies). To improve your experience of our site, DRINKO allows third-party cookies. Third-party cookies are set and used by third parties, for more information on their use of cookies, refer to the respective company cookie policy.
    Permanent cookies are used, among other things, to store visitors' personal settings at DRINKO so that they can, for example, does not have to make certain choices every time he or she visits the site and to customize and make information and marketing as relevant as possible for the current customer. Session cookies are used, among other things, to record statistics on the use of the website.
</p>

<p>
    4.2 Definitions:This cookie policy uses the following definitions. "Cookie" is the cookie and other storage technology used on the Website for similar purposes.
</p>
<p>
    How do we use cookies?
</p>
<p>
    We store some Cookies on your device that are necessary to use the Website. For other purposes, your consent is required.
    DRINKO uses Cookies to improve the experience of the site and for the following purposes.
</p>
<p>

    •	Security
</p>
<p>

    •	For analysis and statistics
</p>
<p>
    •	To personalize the website
</p>
<p>
    •	To target ads and create relevant target groups for marketing purposes on the site, with our marketing partners and social media.

</p>
<p>
    Necessary:Necessary Cookies allow you to use the site by enabling basic features, such as page navigation and access to secure sites. The site does not work as intended without these Cookies.
</p>
<p>
    Security: We use Cookies to manage, protect both DRINKO and the visitor and to develop our systems and services.

</p>
<p>
    Analysis and statistics Analysis and statistics:cookies are used to facilitate analysis of the number of visitors to the website and to improve our customer service etc. This means that we can share and transfer personal data and other information. Please note that we do not process, share or transfer sensitive personal data.
</p>
<p>
    Personalization:Cookies for personalization give us information about how you use our website, your purchase history, etc. in order to offer you a more relevant experience of our website adapted to your preferences. This means that we may share personal data and other information. Please note that we do not process, share or transfer sensitive personal data.
</p>
<p>
    Marketing:We use Cookies to display advertisements, campaigns, communications and offers etc. that we think you are interested in and that are adapted to your preferences. This means that we may share and transfer personal data. Please note that we do not process, share or transfer sensitive personal data.
</p>

<p>
    Consent to Cookies:    By allowing Cookies on the Website, you consent to the processing of Cookies as set forth in the DRINKO Policy.
    If you do not accept cookies, you can turn off cookies in your browser's security settings. You can also set your browser so that you get a query every time the DRINKO website tries to place a cookie on your computer. The browser can also delete previously stored cookies, see the browser's help pages for more information. Remember that you can delete Cookies manually from your hard drive at any time.
    Some treatments may involve automated decision making, which you have the right to object to. These are carried out for analysis, statistics and marketing purposes.
    Please note that if you choose not to allow cookies, the experience of the site will be impaired and you will not be able to access product recommendations or receive personalized marketing and other special offers. It will also not be possible to submit product reviews or share content on social media.
</p>


<p>
    Privacy Policy:Personal data outside the EU / EEA / EEA   The transfer of personal data is done to a third country in a few cases. In these cases, DRINKO has protected your information through the following measures: The EU Commission's standard contract clauses the recipient is certified by Privacy Shield.

</p>
<p>
    How do I delete cookies?
</p>
<p>

    If you no longer wish to use cookies, you can turn them off in your browser settings. You can also set your browser to be prompted every time the DRINKO website tries to place a cookie on your computer. You can also use your browser to delete previously stored cookies.How you delete Cookies depends on which browser you use. Note that if you use multiple browsers, the corresponding changes must be made for each browser.

    If you are using a PC, cookies can be deleted using the [CTRL] + [SHIFT] + [Delete] shortcut.
</p>

<p>
    You can find more information here:
</p>
<p>
    •	Internet Explorer
</p>
<p>
    •	Mozilla Firefox
</p>
<p>
    •	Google Chrome
</p>
<p>
    •	Opera
</p>
<p>
   
   •	Safari
    </p>
<p>
    •	Flash cookies
</p>
<p>
    6. Changes to the Privacy Policy
    DRINKO reserves the right to make changes to this Privacy Policy at any time to the extent that the changes are necessary. All changes are published on the Website. You should therefore review this policy periodically to ensure that you are satisfied with the changes. However, for changes of material importance, we will notify you that changes have been made by email, if you have given us your email address.
    If the changes relate to such personal data processing that we carry out with your consent, we will give you the opportunity to submit your consent again.
</p>
<p>
    7. Contact details:
    If you have any questions related to this privacy policy, if you suspect that there may have been a violation of the same, or if you would like to contact us regarding our processing of your personal information, please contact DRINKO’s Data Protection Officer or our Customer Service by sending a letter or e-mail to the addresses given below.
    DRINKO AB.
</p>

<p>
    Email: customerservice@drinko.com
</p>
